<div class="container">
  <div class="row">
    <div class="col s6">
      <div class="card">

        <div class="card-title">
          <h3 class="center blue-text">New Movie</h3>
        </div>
      </div>
    </div>
    <div class="col s6"></div>
  </div>
</div>
<form #movieForm="ngForm" (ngSubmit)="addMovie(movieService.selectedMovie,movieForm)">
  <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="movieService.selectedMovie._id">
  <div class="row">
    <div class="input-field col s12" >
      <input type="text" name="title" #title="ngModel"
             [(ngModel)] ="movieService.selectedMovie.title"
             placeholder ="Enter title" />
      <input type="number" name="year" #title="ngModel"
             [(ngModel)] ="movieService.selectedMovie.year"
             placeholder ="Enter year" />
      <input type="text" name="rated" #title="ngModel"
             [(ngModel)] ="movieService.selectedMovie.rated"
             placeholder ="Enter rated" />
      <input type="number" name="runtime" #title="ngModel"
             [(ngModel)] ="movieService.selectedMovie.runtime"
             placeholder ="Enter runtime" />
      <div class="row">
        <div class="col m10">
          <label>
          <input type="text" name="country" #country="ngModel"
          [(ngModel)] ="myCountry" placeholder ="Enter country" />
          <p><b>Countries: </b><span *ngFor="let c of movieService.selectedMovie.countries">{{c}}, </span></p>

        </label>
      </div>
      <div class="col m2">
        <span class="btn" (click)="addCountry()">+</span>
      </div>
    </div>
      <div class="row">
        <div class="col m10">
          <label>
          <input type="text" name="genre" #genre="ngModel"
          [(ngModel)] ="myGenre"
          placeholder ="Enter genre" />

          <p><b>Genres: </b><span *ngFor="let g of movieService.selectedMovie.genres">{{g}}, </span></p>

        </label>
      </div>
      <div class="col m2">
        <span class="btn" (click)="addGenre()">+</span>
      </div>
    </div>
      <input type="text" name="director" #director="ngModel"
             [(ngModel)] ="movieService.selectedMovie.director"
             placeholder ="Enter director" />
      <div class="row">
        <div class="col m10">
          <label>
          <input type="text" name="writer" #writer="ngModel"
          [(ngModel)] ="myWriter"
          placeholder ="Enter writer" />

          <p><b>Writers: </b><span *ngFor="let c of movieService.selectedMovie.writers">{{c}}, </span></p>

        </label>
      </div>
      <div class="col m2">
        <span class="btn" (click)="addWriter()">+</span>
      </div>
    </div>
      <div class="row">
        <div class="col m10">
          <label>
          <input type="text" name="actor" #actor="ngModel"
          [(ngModel)] ="myActor"
          placeholder ="Enter actor" />

          <p><b>Actors: </b><span *ngFor="let g of movieService.selectedMovie.actors">{{g}}, </span></p>

        </label>
      </div>
      <div class="col m2">
        <span class="btn" (click)="addActor()">+</span>
      </div>
    </div>
      <input type="text" name="plot" #plot="ngModel"
             [(ngModel)] ="movieService.selectedMovie.plot"
             placeholder ="Enter plot" />
      <input type="text" name="poster" #poster="ngModel"
             [(ngModel)] ="movieService.selectedMovie.poster"
             placeholder ="Enter poster" />
      <fieldset>
        <legend>IMDB</legend>
        <input type="text" name="id" #id="ngModel"
               [(ngModel)] ="movieService.selectedMovie.imdb.id"
               placeholder ="Enter IMDB id" />
        <input type="number" name="rating" #rating="ngModel"
               [(ngModel)] ="movieService.selectedMovie.imdb.rating"
               placeholder ="Enter IMDB rating" />
        <input type="number" name="votes" #votes="ngModel"
               [(ngModel)] ="movieService.selectedMovie.imdb.votes"
               placeholder ="Enter IMDB votes" />
      </fieldset>
      <fieldset>
        <legend>Tomato</legend>
        <input type="number" name="meter" #meter="ngModel"
               [(ngModel)] ="movieService.selectedMovie.tomato.meter"
               placeholder ="Enter Tomato meter" />
        <input type="text" name="image" #image="ngModel"
               [(ngModel)] ="movieService.selectedMovie.tomato.image"
               placeholder ="Enter Tomato image" />
        <input type="number" name="rating" #rating="ngModel"
               [(ngModel)] ="movieService.selectedMovie.tomato.rating"
               placeholder ="Enter Tomato rating" />
        <input type="number" name="reviews" #reviews="ngModel"
               [(ngModel)] ="movieService.selectedMovie.tomato.reviews"
               placeholder ="Enter Tomato reviews" />
        <input type="number" name="fresh" #fresh="ngModel"
               [(ngModel)] ="movieService.selectedMovie.tomato.fresh"
               placeholder ="Enter Tomato fresh" />
        <input type="text" name="consensus" #consensus="ngModel"
               [(ngModel)] ="movieService.selectedMovie.tomato.consensus"
               placeholder ="Enter Tomato consensus" />
        <input type="number" name="userMeter" #userMeter="ngModel"
               [(ngModel)] ="movieService.selectedMovie.tomato.userMeter"
               placeholder ="Enter Tomato userMeter" />
        <input type="number" name="userRating" #userRating="ngModel"
               [(ngModel)] ="movieService.selectedMovie.tomato.userRating"
               placeholder ="Enter Tomato userRating" />
        <input type="number" name="userReviews" #userReviews ="ngModel"
               [(ngModel)] ="movieService.selectedMovie.tomato.userReviews "
               placeholder ="Enter Tomato userReviews" />
      </fieldset>
      <input type="number" name="metacritic" #metacritic="ngModel"
             [(ngModel)] ="movieService.selectedMovie.metacritic"
             placeholder ="Enter Metacritic" />
      <fieldset>
        <legend>Awards</legend>
        <input type="number" name="wins" #wins="ngModel"
               [(ngModel)] ="movieService.selectedMovie.awards.wins"
               placeholder ="Enter Awards wins" />
        <input type="number" name="nominations" #nominations ="ngModel"
               [(ngModel)] ="movieService.selectedMovie.awards.nominations "
               placeholder ="Enter Awards nominations" />
        <input type="text" name="text" #text="ngModel"
               [(ngModel)] ="movieService.selectedMovie.awards.text"
               placeholder ="Enter Awards text" />
      </fieldset>
      <input type="text" name="type" #type="ngModel"
             [(ngModel)] ="movieService.selectedMovie.type"
             placeholder ="Enter type" />
    </div>
  </div>
  <div class="card-action">
    <div class="input-field col s12">
      <button class="btn right" (click)="resetForm(movieForm)">Clean</button>
      <button type="submit" class="btn right">Save</button>
    </div>
  </div>
</form>
<div class="col s6 right-align">
  <h2 class="center blue-text">Movies</h2>
  <ul>
    <li *ngFor="let movie of movieService.movies">
      <h5>{{movie.title}}
        <a class="cursor" (click)="editMovie(movie)">
          <i class="material-icons">edit</i>
        </a>
        <a (click)="deleteMovie(movie._id)">
          <i class="material-icons">delete</i>
        </a>
      </h5>
    </li>
  </ul>
</div>
